.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  animation: animLeft 0.3s forwards;
}

.contato img {
  width: 500px;
  border-radius: 20px;
}

.contato div {
  padding: 50px;
}

@keyframes animLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
