.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  animation: animLeft 0.3s forwards;
}

.contato div {
  padding: 50px;
}

.contato li::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 20px;
  background-color: #ddd;
  margin-right: 10px;
}

@keyframes animLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
