.header {
  padding: 20px 0px;
}

.header a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #eee;

  border-radius: 10px;

  transition: 0.3s;
}

.header > :global(a.active) {
  transition: 0.3s;

  background-color: #d5d5d5;
}
