.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  animation: animLeft .3s forwards;
}

.produto > .imgContainer > img {
  border-radius: 10px;
  width: 100%;
}

@keyframes animLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
