@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

:root {
  font-family: "Parkinsans", sans-serif;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}


