@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

:root {
  font-family: "Parkinsans", sans-serif;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  border-radius: .5rem;
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite
}

@keyframes loading {
  to {
    transform: rotate(300deg);
  }
}